<ion-card>
  <ion-card-header>
    Datos Personales
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <strong>Edad:</strong> {{ personalData.age }}
      </ion-item>
      <ion-item>
        <strong>Email:</strong> {{ personalData.email }}
      </ion-item>
      <ion-item>
        <strong>Ciudad:</strong> {{ personalData.origin_city }}
      </ion-item>
      <ion-item>
        <strong>Pais:</strong> {{ personalData.origin_country }}
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>